*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
      scroll-behavior: smooth;

}
body{
    background:url(./assets/bg.jpg);
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-position: center;
    display: flex;
justify-content: center;
align-items: center;
}

body::after{
    content: "";
    position: absolute;
    width: 100%;
    height:100vh;
    background-color: rgb(0, 0, 0,.15);
backdrop-filter: blur(10px);
-webkit-backdrop-filter:blur(10px);

}

.Weather_contaner{
    width: 300px;
    height: 530px;
    background: linear-gradient(rgba(255, 255, 255, 0.122),rgba(0, 0, 0, 0.122)) ;
    z-index: 1;
    backdrop-filter: blur(100px);
    border-radius: 12px;
    padding: 20px;
}
/* custemize css */
.regelar_text{
    font-weight:400;

}
/* search sec */
.search_contaner{
display:flex;
position: relative;
margin-bottom: 25px;
}
input.search_input{
    width: 100%;
    height: 45px;
    border-radius: 90px;
    margin: auto;
    outline: none;
    background-color: rgba(0, 0, 0, 0.138);
    border: none;
    padding-left: 20px;
    padding-right: 40px;
    font-size: 15px;
    color: white;
    transition: .5s;
cursor: pointer;
}
input.search_input::placeholder{
    color: rgba(255, 255, 255, 0.61);
    font-size: 15px;
    transition: .5s;
}
input.search_input:focus::placeholder{
   opacity: 0;
}
input.search_input:focus{
    border: rgba(0, 0, 0, 0.122) 3px solid;
    cursor: auto;
}

.search_contaner .search_icon{
    color: rgba(255, 255, 255, 0.867);
    position:absolute;
    top: 50%;
    right: 5px;
    transform: translate(-50%, -50%);
    font-size:25px ;
    cursor: pointer;
}

/* location and data sec */
.weather_info .location_contaner{
    margin-top:15px ;
display: flex;
align-items: center;
justify-content: space-between;
color: white;
}
.weather_info .location_contaner .location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.weather_info .temp_contaner{
     margin-top: 25px;
     margin-bottom: 0px;
     padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather_info .temp_contaner img{
    width: 120px;
}
.weather_info .temp_contaner .temp{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h4{
      font-size: 23px;
    }
}
/* my part */
.suggetion h4{
    color: white;
width: fit-content;
    margin: auto;
    margin-bottom: 15px;
    font-weight: bolder;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.221);
    padding: 5px ;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.13);
    text-align: center;
   
}
/* factors_contaner */
.factors_contaner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.factors_contaner .humidity,.wind{
    display: flex;
    color: white;
    align-items: center;
    gap: 5px;
    justify-content: center;
    span{
        font-size: 30px;
    }
    p{
        font-size:12px;
    }
     p:not(.regelar_text){
       font-weight:bolder ;
       font-size: 13px;
     }
}

/* footer */
.cards_contaner{
    margin-top: 10px;
   
 display: flex;
gap: 15px;
width: 100%;
overflow: scroll;
padding-bottom: 15px;
}
/* عرض الاسكرول */
::-webkit-scrollbar {
  width: .002px;
  height: 9px;

}

/* الخلفية */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  
}

/* المقبض */
::-webkit-scrollbar-thumb {
  background: #0000007f;
  border-radius: 10px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000ac;
 cursor: pointer;
}

.cards_contaner .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 75px;
  color: white;
  gap: 5px;
  border-radius:  10px;
  background: rgba(255, 255, 255, 0.101);
  padding: 10px 0px;
}
.cards_contaner .card img{
    width: 40px;
}
/* frist page */
.search_city{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        margin-top: 40px;
        width: 200px;
    }
    
}
.search_city p:first-of-type{
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}
.search_city p:nth-child(3){
    color:white;
    text-align: center;
}
.israil img{
    width: 150px;
    margin: 20px;

}